.post-categories a:hover,
.post-categories a:focus,
a {
    text-decoration: underline;
}

.post-categories a,
footer a,
nav a,
p.author-category a,
p.read-more a,
h2 a {
    text-decoration: none;
}

a:hover,
a:focus {
    color: #157FFF;
}
